<div class ="container">
<h1><%= @billboard.name %></h1>
<%= link_to 'Delete Billboard', [@billboard, @song], method: :delete %> |
<%= link_to 'Back to Billboards', billboards_path %> |
<%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %> |
<%= link_to 'Add Song', new_billboard_song_path(@billboard) %> |



<hr />

<ul>
  <% @billboard.songs.each do |song| %>
    <li>
      <%= song.title%>
       <%= song.album %>
       <%= song.artist.name %>
      <%= link_to 'Edit', edit_billboard_song_path(@billboard, song) %> 
      <%= link_to 'Delete', [@billboard,song], method: :delete, 
      data: { confirm: "Are you sure?" }  %> 
      <div class="ui labeled button" tabindex="0">
          <div class="ui red button blue1">
            <i class="heart icon"></i> Like
          </div>
          <a class="ui basic red left pointing label">
          <%= song.ratings %>
          </a>
       </div>
    </li>
    <%end%>
</ul>
</div>
